<!DOCTYPE html>
<html>
<head>
    <meta name="generator" content="editplus">
    <meta name="author" content="angeleyes">
    <meta name="keywords" content="angeleyes, testhtml, testjavascript">
    <meta name="description" content="test document">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/print.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"rel = "stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="js/lib/jquery-barcode.js"></script>
    <script src="js/lib/jquery-qrcode.js"></script>
    <script src="js/lib/qrcode.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/report.js"></script>
    <script src="js/report_layer.js"></script>
    <script src="js/band.js"></script>
    <script src="js/createBand.js"></script>
    <script src="js/print.js"></script>
    <script src="js/viewer_header01.js"></script>
    <script src="js/viewer_header02.js"></script>
    <script src="js/viewer.js"></script>
    <script src="js/drawingBand.js"></script>
    <script src="js/label.js"></script>
    <script src="js/createLabel.js"></script>
    <script src="js/figure.js"></script>
    <script src="js/createFigure.js"></script>
    <script src="js/drawCurrPageNTotalPage.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var data = <%-data%>;  //xml json 데이터
        var dataTable = <%- dataTable %>; //임시 데이터 dataTable
        var paramTable = <%- paramTable %>; // 임시 파라미터 데이터 paramTable
        var paramTable = <%- paramTable %>; // 임시 파라미터 데이터 paramTable
        var subReport = <%- subReport %>; //서브리포트에 뿌릴 데이터 가져옴 나중에 xml을 넣는 로직도 하나 만들어서 xml 파일을 드래그하면 해당 xml을 추가할 수 있도록 수정 필요.

        $(document).ready(function () {
            $("#header").load("/include/header.ejs");
            $("#myModal").load("/include/modal.ejs");
            $("#loadingModal").load("/include/loading.ejs");
            $('#modalTableChoice').load("/include/modalTableChoice.ejs");
            makeReportTemplate(data, subReport);
            drawPageNumberInSystemLabel();
            band_dbclick_event(data);
            image_setting();
        });
    </script>
    <style>
        *{
            letter-spacing: -1.181pt;
        }
        /*.backGroundLayer, .foreGroundLayer{*/
            /*visibility : hidden;*/
        /*}*/
        canvas{
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
<div id="header" style="pointer-events: auto;"></div>
<div id="myModal" class="modal" style="pointer-events: auto;"></div><!-- 고급인쇄 모달창 -->
<div id="loadingModal" class="modal" style="pointer-events: auto;"></div><!-- pdf,html등 내보내기에 필요한 로딩창 -->

<div id="modalTableChoice" class="modal" style="pointer-events: auto;"></div>

<div id="reportTemplate"></div>
<div id="Image_Modal" style="pointer-events: auto;"><!--이미지 추가 모달창-->
    <div id="modalLayer" class="modalLayer">
        <div class="modalContent modal-content">
            <div id="image_add_area" class="image_add_area">
                <span>이미지 추가</span>
                <span class="upload_cancel" style="cursor:pointer;float:right;margin-right:10px;">X</span>
            </div>
            <div>
                <span style="font-weight: bold; font-size: 12px; margin-top: 4px; margin-left: 3px;">추가할 이미지 선택</span>
            </div>
            <div style="margin: 10px; margin-top: 0px; background-color: #f5f5f5; border: 1px solid gray; height: auto;">
                <div class="image_insert_area">
                    <input id="image_insert" type="file" multiple accept="image/*"><br/>
                </div>
            </div>
            <div class="image_insert_button_area" style="float: right; margin-right: 10px;">
                <button id="upload_button" type="submit" value="">확인</button>
                <button id="upload_cancel" class="upload_cancel" type="button">취소</button>
            </div>
        </div>
    </div>
</div>
<div id="reportTemplate"></div>
<div id="Image_Modal2" style="pointer-events: auto;"><!--이미지 추가 상세 모달창-->
    <div id="image_dialog" class="modalLayer" title="이미지 속성">
        <div id="dialog" class="modal-content">
            <div id="image_type_add_area" class="image_add_area">
                <span>이미지 속성 변경</span>
                <span class="image_update_cancel" style="cursor:pointer;float:right;margin-right:10px;">X</span>
            </div>
            <div>
                <span style="font-weight: bold; font-size: 12px; margin-top: 4px; margin-left: 15px;">이미지 삭제</span>
                <span style="font-weight: bold; font-size: 12px; margin-top: 4px; margin-left: 3px; margin-right: 125px; float: right">이미지 순서</span>
            </div>
            <div id="dialog_div" style="margin-left: 27px; margin-top: 0px; background-color: #f5f5f5; border: 1px solid gray; height: 35px; width: 60px; float: left;">
                <input id="image_dialog_delete" class="image_dialog_delete" value="삭제" type="button" style="margin-top: 5px; margin-left: 10px;">
            </div>
            <div id="dialog_div_order" style="margin-right: 27px; margin-top: 0px; background-color: #f5f5f5; border: 1px solid gray; height: 114px; width: 141px; float: right">
                <input id="limit_fore_dialog" class="limit_fore_dialog" value="맨 앞으로 보내기" type="button" style="margin-top: 8px; margin-left: 10px; width: 120px;">
                <input id="limit_back_dialog" class="limit_back_dialog" value="맨 뒤로 보내기" type="button" style="margin-left: 10px; width: 120px;">
                <input id="fore_dialog" class="fore_dialog" value="앞으로 보내기" type="button" style="margin-left: 10px; width: 120px;">
                <input id="back_dialog" class="back_dialog" value="뒤로 보내기" type="button" style="margin-left: 10px; width: 120px;">
            </div>
        </div>
    </div>

</div>
</body>
</html>
